body{
    font-family: 'Baloo Da 2','Roboto',sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #3a3939;
    width: 100%;
}

#photo-header{
    margin-left: 250px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.header-text{
    margin-left: 320px;
    margin-top: -30px;
    color: #fff;
}

.menu{
    margin-left: 780px;
    margin-top: -55px;
}

.button{
    list-style: none;
}

.button li{
    display: inline;
    color: #fff;
}

.button a{
    color: #fff;
    text-decoration: none;
    padding: 3px 10px;
}

.button a:visited{
    color: #fff;
}

.button a:hover{
    background-color: #e8c841;
    color: #7A6C5A;
    border-radius: 14px;

}

.style-italic{
    font-style: italic;
}

.linea-horizontal{
    border: 1px solid white;
    margin-bottom: 0px;
}

#photo-header2{
    position: absolute;
    width: 100%;
    height: 800px;
    object-fit: cover;
}

#photo-header3{
    position: absolute;
    margin-top: 290px;
    margin-left: 665px;
}

.header-text2{
    position: absolute;
    margin-top: 550px;
    margin-left: 485px;
    font-size: 40px;
    color: #fff;
}

.header-text3{
    position: absolute;
    margin-top: 630px;
    margin-left: 595px;
    font-size: 40px;
    color: #fff;
}

.web{
    max-width: 1100px;
    position: absolute;
    margin-top: 1050px;
}

.index-title{
    margin-top: -230px;
    margin-left: 180px;
    font-size: 26px;
    color: #666474;
}

.index-text{
    margin-left: 180px;
    color: #7C777B;
}

.redes-sociales-menu {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-left: 1190px;
    margin-top: -200px;
    position: absolute;
    display: flex;
    justify-content: right;
}

.redes-sociales-icon{
    display: inline-block;
    transition: transform 1s ease, filter 1.2s ease;
    background-image: url("imagenes_practica_final/32pixel-icons.png");
    width: 32px;
    height: 32px;
    background-size: 507px 122px;
    border-radius: 50%;
}

#facebook{
    background-position: -179px -7px;
}

#facebook:hover{
    background-position: -179px -81px;
}

#email{
    background-position: -7px -7px;
}

#email:hover{
    background-position: -7px -82px;
}

#google{
    background-position: -121px -6px;
}

#google:hover{
    background-position: -121px -80px;
}

#twitter{
    background-position: -293px -7px;
}

#twitter:hover{
    background-position: -293px -82px;
}

#linkedin{
    background-position: -351px -7px;
}

#linkedin:hover{
    background-position: -351px -82px;
}

#github{
    background-position: -408px -7px;
}

#github:hover{
    background-position: -408px -82px;
}

.index-text2{
    margin-left: 180px;
    color: #7C777B;
}

.index-text3{
    margin-left: 180px;
    color: #7C777B;
}

.link-index-text3{
    color: #e8c841;
    font-style: italic;
}

.index-title2{
    margin-left: 180px;
    color: #666474;
}

.photo-index1{
    border: 2px solid white;
    background-color: #f2f2f2;
    margin-left: 180px;
    margin-right: 595px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.photo-index1-1{
    width: 300px;
    transition: 0.3s ease;
}

.photo-index1-1:hover{
    transform: scale(1.2);
}

.index-text4{
    margin-left: 0px;
    color: #7C777B;
    font-size: 19px;
}

.link-photo-index{
    color: #e8c841;
    font-style: italic;
    margin-left: 140px;
}

.photo-index2{
    border: 2px solid white;
    background-color: #f2f2f2;
    margin-top: 30px;
    margin-left: 180px;
    margin-right: 595px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.photo-index2-1{
    width: 300px;
    transition: 0.3s ease;
}

.photo-index2-1:hover{
    transform: scale(1.2);
}

.photo-index3{
    border: 2px solid white;
    background-color: #f2f2f2;
    background-size: 100px;
    margin-top: 30px;
    margin-left: 180px;
    margin-right: 595px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.photo-index3-1{
    width: 300px;
    transition: 0.3s ease;
}

.photo-index3-1:hover{
    transform: scale(1.2);
}

.photo-index4{
    position: absolute;
    width: 312px;
    border: 2px solid white;
    background-color: #f2f2f2;
    margin-top: -1330px;
    margin-left: 520px;
    margin-right: 595px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.photo-index4-1{
    width: 300px;
    transition: 0.3s ease;
}

.photo-index4-1:hover{
    transform: scale(1.2);
}

.photo-index5{
    position: absolute;
    width: 312px;
    border: 2px solid white;
    background-color: #f2f2f2;
    margin-top: -950px;
    margin-left: 520px;
    margin-right: 595px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.photo-index5-1{
    width: 300px;
    transition: 0.3s ease;
}

.photo-index5-1:hover{
    transform: scale(1.2);
}

.photo-index6{
    position: absolute;
    width: 312px;
    border: 2px solid white;
    background-color: #f2f2f2;
    margin-top: -630px;
    margin-left: 520px;
    margin-right: 595px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.photo-index6-1{
    width: 300px;
    transition: 0.3s ease;
}

.photo-index6-1:hover{
    transform: scale(1.2);
}

.photo-index7{
    position: absolute;
    width: 312px;
    border: 2px solid white;
    background-color: #f2f2f2;
    margin-top: -1330px;
    margin-left: 860px;
    margin-right: 595px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.photo-index7-1{
    width: 300px;
    transition: 0.3s ease;
}

.photo-index7-1:hover{
    transform: scale(1.2);
}

.photo-index8{
    position: absolute;
    width: 312px;
    border: 2px solid white;
    background-color: #f2f2f2;
    margin-top: -980px;
    margin-left: 860px;
    margin-right: 595px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.photo-index8-1{
    width: 300px;
    transition: 0.3s ease;
}

.photo-index8-1:hover{
    transform: scale(1.2);
}

.photo-index9{
    position: absolute;
    width: 312px;
    border: 2px solid white;
    background-color: #f2f2f2;
    margin-top: -605px;
    margin-left: 860px;
    margin-right: 595px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.photo-index9-1{
    width: 300px;
    transition: 0.3s ease;
}

.photo-index9-1:hover{
    transform: scale(1.2);
}

.photo-index10{
    position: absolute;
    width: 312px;
    border: 2px solid white;
    background-color: #f2f2f2;
    margin-top: -1330px;
    margin-left: 1200px;
    margin-right: 595px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.photo-index10-1{
    width: 300px;
    transition: 0.3s ease;
}

.photo-index10-1:hover{
    transform: scale(1.2);
}

.photo-index11{
    position: absolute;
    width: 312px;
    border: 2px solid white;
    background-color: #f2f2f2;
    margin-top: -950px;
    margin-left: 1200px;
    margin-right: 595px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.photo-index11-1{
    width: 300px;
    transition: 0.3s ease;
}

.photo-index11-1:hover{
    transform: scale(1.2);
}

.photo-index12{
    position: absolute;
    width: 312px;
    border: 2px solid white;
    background-color: #f2f2f2;
    margin-top: -320px;
    margin-left: 1200px;
    margin-right: 595px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.photo-index12-1{
    width: 300px;
    transition: 0.3s ease;
}

.photo-index12-1:hover{
    transform: scale(1.2);
}

.footer{
    margin-top: 2700px;
    background-color: #3a3939;
    padding-top: 50px;
    text-align: center;
    height: 200px;
}

.links1-footer{
    text-align: center;
    justify-items: right;
}

.links2-footer{
    text-align: center;
    margin-left: 350px;
    margin-top: -110px;
}

.link-footer{
    color: #e8c841;
    font-style: italic;
}

.link-footer2{
    color: #e8c841;
    font-style: italic;
}

.link-footer3{
    color: #e8c841;
    font-style: italic;
}

.link-footer4{
    color: #e8c841;
    font-style: italic;
}

.link-footer5{
    color: #e8c841;
    font-style: italic;
}

.link-footer6{
    color: #e8c841;
    font-style: italic;
}

.link-footer7{
    color: #e8c841;
    font-style: italic;
}

.link-footer8{
    color: #e8c841;
    font-style: italic;
}

.index-text5{
    color: #5B5B5B;
    text-align: center;
    margin-left: 120px;
    margin-top: 30px;
}

#photo-header4{
    position: absolute;
    width: 100%;
    height: 550px;
    object-fit: cover;
}


#photo-header5{
    position: absolute;
    margin-left: 230px;
    margin-top: 20px;
    height: 100px;
    width: 100px;
}

.header-text4{
    position: absolute;
    margin-top: 20px;
    margin-left: 485px;
    font-size: 40px;
    color: #fff;
}

.header-text5{
    position: absolute;
    margin-top: 100px;
    margin-left: 620px;
    font-size: 40px;
    color: #fff;
}

.redes-sociales-menu2{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-left: 995px;
    margin-top: 186px;
    position: absolute;
    justify-content: right;
}

.redes-sociales-icon2 {
    display: inline-block;
    transition: transform 1s ease, filter 1.2s ease;
    background-image: url("imagenes_practica_final/32pixel-icons.png");
    width: 32px;
    height: 32px;
    background-size: 507px 122px;
    border-radius: 50%;
}

.web-2{
    width: 100%;
    margin-top: 220px;
    position: absolute;
    background-color: white;
}

.diseño-title{
    margin-top: 20px;
    margin-left: 180px;
    font-size: 26px;
    color: #666474;
}

.diseño-text1{
    margin-left: 180px;
    color: #7C777B;
}

.table-title{
    text-align: center;
    color: #666474;
    font-style: italic;
    font-size: 40px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr:nth-child(odd){
    background-color: #F2F2F2;
}

th{
    background-color: #e8c841;
    color: #666474;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid black;
}

td{
    color: #666474;
    padding: 37px;
    border-bottom: 2px solid black;
}

.button-table{
    background-color: #e8c841;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    color: #666474;
    font-style: italic;
    display: inline-block;
}

.button-table:link{
    color: #666474;
    text-decoration: none;
    display: block;
}

.button-table:visited{
    color: #666474;
    text-decoration: none;
    display: block;
}

.button-table:hover{
    background-color: white;
    color: #e8c841;
    border: 2px solid #e8c841;
}

.photo-table{
    height: 90px;
    width: 70px;
}

.footer2{
    margin-top: 1510px;
    background-color: #3a3939;
    padding-top: 50px;
    text-align: center;
    height: 200px;
}

.inspiracion-title{
    margin-top: 20px;
    margin-left: 180px;
    font-size: 26px;
    color: #666474;
}

.subtitle-inspiracion{
    margin-top: 10px;
    margin-left: 180px;
    font-size: 15px;
    color: #666474;
}

.inspiracion-text{
    margin-left: 180px;
    margin-right: 350px;
    color: #7C777B;
}

.inspiracion-list{
    list-style: none;
}

.inspiracion-list-li{
    background: url("imagenes_practica_final/libro.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 170px;
    padding-left: 40px;
    margin-right: 230px;
    color: #7C777B;
}

.inspiracion-cite{
    background-color: #F2F2F2;
    border-right: 4px solid yellow;
    font-size: 20px;
    color: #7C777B;
    margin-left: 330px;
    margin-right: 400px;
    text-align: right;
    padding-right: 40px;
}

.comillas{
    font-size: 2.0em;
    color: #e8c841;
}

.inspiracion-list2{
    margin-left: 180px;
    margin-right: 350px;
    color: #7C777B;
    font-style: italic;
}

.inspiracion-list2-link{
    color: #e8c841;
}

.inspiracion-list2-link a:link{
    color: #e8c841;
    text-decoration: none;
}

.inspiracion-list2-link a:visited{
    color: #e8c841;
    text-decoration: none;
}

.inspiracion-list2-li{
    font-style: normal;;
}

.inspiracion-text-link{
    color: #e8c841;
}

.inspiracion-codeHTML{
    background-color: #f2f2f2;
    border-left: 5px solid #85A206;
    margin-left: 220px;
    margin-right: 350px;
}

.inspiracion-title-div-code{
    padding-left: 20px;
    padding-top: 30px;
    color: #666474;
}

pre{
    margin-left: -30px;
    padding-top: 20px;
    font-size: 7px;
    color: #666474;
}

.inspiracion-codeCSS{
    background-color: #f2f2f2;
    border-left: 5px solid #85A206;
    margin-top: 30px;
    margin-left: 220px;
    margin-right: 350px;
}

.footer3{
    margin-top: 2780px;
    background-color: #3a3939;
    padding-top: 50px;
    text-align: center;
    height: 200px;
}

.menu2{
    margin-left: 780px;
    margin-top: -40px;
    padding-bottom: 0px;
}

.header-text8{
    margin-left: 320px;
    margin-top: -0px;
    font-size: 15px;
    color: #fff;
}

.button2{
    list-style: none;
    margin-top: 20px;
    padding-bottom: 5px;
}

.button2 li{
    display: inline;
    color: #fff;
}

.button2 a{
    color: #fff;
    text-decoration: none;
    padding: 3px 10px;
}

.button2 a:visited{
    color: #fff;
}

.button2 a:hover{
    background-color: #e8c841;
    color: #7A6C5A;
    border-radius: 14px;
}

.web-4{
    width: 100%;
    margin-top: 220px;
    position: absolute;
    background-color: white;
    align-items: center;
}

.form{
    text-align: center;
    background-color: #E8C841;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 40px;
    padding-top: 30px;
    border-radius: 5px;
}

.title-form{
    font-size: 40px;
    color: white;
}

fieldset{
    border: none;
}

input::placeholder {
    color: #e8c841;
    padding-left: 5px;
}

select::placeholder{
    color: #e8c841;
}

.fieldset-title-form{
    margin-left: -450px;
    font-size: 25px;
    color: #666474;
}

.linea2-horizontal-form{
    margin-left: 230px;
    margin-right: 30px;
    margin-top: -40px;
    margin-bottom: 30px;
    border-color: #666474;
}

.div-form{
    display: flex;
    margin-bottom: 10px;
    text-align: left;
}

.contactar-label-form{
    margin-right: 10px;
    color: #666474;
    margin-left: 40px;
    margin-top: 30px;
}

.contactar-input-form{
    position: relative;
    top: 30px;
    margin-left: 83px;
    width: 400px;
    border: 2px solid black;
    border-radius: 3px;
}

.contactar-input2-form{
    position: relative;
    top: 30px;
    margin-left: 75.5px;
    width: 400px;
    border: 2px solid black;
    border-radius: 3px;
}

.contactar-input3-form{
    position: relative;
    top: 30px;
    margin-left: 104px;
    width: 400px;
    border: 2px solid black;
    border-radius: 3px;
}

.contactar-input4-form{
    position: relative;
    top: 30px;
    margin-left: 78px;
    width: 400px;
    border: 2px solid black;
    border-radius: 3px;
}

.contactar-input5-form{
    position: relative;
    top: 30px;
    width: 404px;
    border: 2px solid black;
    border-radius: 3px;
}

.fieldset-title2-form{
    position: relative;
    top: 40px;
    margin-left: -500px;
    font-size: 25px;
    color: #666474;
}

.div2-form {
    display: flex;
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    overflow: visible;
}

.linea3-horizontal-form{
    margin-left: 180px;
    margin-right: 30px;
    margin-top: -2px;
    border-color: #666474;
}

.contactar-select-form{
    position: relative;
    top: 32px;
    left: 34px;
    width: 408px;
    height: 50px;
    border: 2px solid black;
    border-radius: 3px;
    color: #e8c841;
}

.contactar-label2-form{
    margin-right: 10px;
    color: #666474;
    margin-left: 40px;
    margin-top: -62px;
}

.contactar-input6-form{
    position: relative;
    top: -55px;
    left: 80.5px;
    width: 400.5px;
    height: 190px;
    border: 2px solid black;
    border-radius: 3px;
}

.contactar-input6-form::placeholder{
    color: #e8c841;
    position: absolute;
    top: 5px;
    left: 1px;
    font-size: 18px;
}

.contactar-checkbox1-form{
    background-color: white;
    position: relative;
    top: -60px;
    left: -344px;
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
}

.contactar-checkbox1-form:checked::before{
    content: '';
    position: absolute;
    left: 1px;
    top: -3px;
    width: 18px;
    height: 10px;
    border-left: 4px solid #666474;
    border-bottom: 4px solid #666474;
    transform: rotate(310deg);
}

.contactar-checkbox1-form:not(:checked)::before{
    display: none;
}

.checkbox1-text{
    position: relative;
    color: #666474;
    margin-left: -342px;
    top: -69px;
}

.contactar-checkbox2-form{
    background-color: white;
    position: relative;
    top: -90px;
    left: -293px;
    height: 20px;
    width: 20px;
    appearance: none;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
}

.contactar-checkbox2-form:checked::before{
    content: '';
    position: absolute;
    left: 1px;
    top: -3px;
    width: 18px;
    height: 10px;
    border-left: 4px solid #666474;
    border-bottom: 4px solid #666474;
    transform: rotate(310deg);
}

.contactar-checkbox2-form:not(:checked)::before{
    display: none;
}

.checkbox2-text{
    position: relative;
    color: #666474;
    margin-left: -288px;
    top: -98px;
}

.button-enviar{
    position: relative;
    width: 621px;
    height: 40px;
    top: -90px;
    left: 5px;
    background-color: #88A70B;
    border: 2px solid #88A70B;
    border-radius: 3px;
}

.button-borrar{
    position: relative;
    width: 621px;
    height: 40px;
    top: -75px;
    left: 5px;
    background-color: #F26A4A;
    border: 2px solid #F26A4A;
    border-radius: 3px;
}

.footer4{
    margin-top: 1575px;
    background-color: #3a3939;
    padding-top: 50px;
    text-align: center;
    height: 200px;
}