body{
    font-family:  'Roboto';
    background-color: #6DFFA3;
}

header{
    background-color: white;
    display: flex;
    border-bottom: 4px solid #0F6900;
    margin-top: -7px;
    margin-left: -8px;
    margin-right: -8px;
    font-family:  'Roboto';
}

.photo-logo{
    margin-left: 300px;
}

.web{
    background-color: #6DFFA3;
    height: 100%;
    width: 100%;
}

.menu{
    list-style: none;
    color: #006705;
    margin-left: 540px;
}

.menu li{
    display: inline;
    margin: 5px;
}

.button{
    list-style: none;
    padding-top: 15px;
}

.button a{
    color: #006705;
    text-decoration: none;
}

.button a:visited{
    color: #006705;
}

.button a.active{
    border-bottom: 4px solid #00DA00;
    color: #00DA00;
    padding-bottom: 33.5px;
    padding: 33.5px 5px;
}

.button a:hover{
    background-color: #006800;
    color: white;
    margin: 0;
    padding: 33.5px 14px;
}

.photo-index{
    margin-left: 300px;
    margin-top: 50px;
    height: 300px;
    width: 350px;
}

.photo-index-text{
    margin-left: 300px;
    margin-right: 900px;
}

.index-text{
    margin-left: 680px;
    margin-top: -385px;
    margin-right: 240px;
}

.title-index{
    color: #0F6900;
}

.subtitle-index{
    font-size: 20px;
    color: hsl(120, 44%, 34%);
}

.style-italic{
    font-style: italic;
    font-size: 20px;
    color: #307B30;
}

.subtitle2-index{
    margin-left: -36px;
    font-size: 20px;
    color: #307B30;
}

.subtitle2-index-text{
    margin-left: -36px;
}

footer{
    background-color: #006800;
    height: 65px;
    margin-top: 80px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}

.footer-text1{
    color: white;
    margin-left: 300px;
    padding-top: 22px;
}

.footer-text2{
    color: white;
    margin-left: 820px;
    margin-top: -34px;
}

.footer-text2 a{
    color: white;
    text-decoration: none;
}

.title-productos{
    text-align: center;
    color: #006800;
}

.productos-text{
    text-align: center;
    margin-left: -117px;
}

table{
    text-align: center;
    border: 2px solid black;
    margin: auto;
    border-collapse: collapse;
    height: 350px;
    width: 890px;
    margin-top: 45px;
}

tr{
    border: 2px solid black;
    margin: auto;
}

th{
    height: 35px;
    background-color: #006800;
    border: 2px solid #006800;
}

td{
    border: 2px solid black;
}

.title-table{
    color: white;
    text-align: center;
}

.color-table{
    background-color: #00D94A;
}

.color2-table{
    background-color: #00FA57;
    border-color: #DDDEDD;
    border-bottom: black;
}

.color3-table{
    background-color: white;
    border-color: #DDDEDD;
    border-right: black;
    border-bottom: black;
}

.color4-table{
    font-style: italic;
    border: 2px solid black;
    background-color: #00FA57;
    height: 40px;
    font-size: 12px;
}

.title-compra{
    color: #006800;
    margin-left: 300px;
}

.compra-text{
    margin-left: 300px;
}

form{
    margin-left: 300px;
    text-align: center;
}

.form1{
    border: 2px solid black;
    background-color: aqua;
    height: 300px;
    width: 350px;
}

.title-form1{
    text-align: center;
}

.input-form1{
    margin-left: 100px;
}

.input2-form1{
    margin-left: 91px;
}

.input3-form1{
    margin-left: 130px;
}

.input4-form1{
    margin-left: 25px;
}

.input5-form1{
    margin-left: 15px;
}

.input6-form1{
    margin-left: 95px;
}

.form2{
    border: 2px solid black;
    margin-top: -303px;
    margin-left: 400px;
    margin-right: 400px;
    height: 300px;
    width: 350px;
    background-color: aqua;
}

.input-form2{
    margin-left: 50px;
}

.input2-form2{
    margin-left: 106px;
}

.input3-form2{
    margin-left: 56px;
}

.input4-form2{
    margin-left: 90px;
}

.input5-form2{
    margin-left: 125px;
}

.form3{
    border: 2px solid black;
    margin-left: 800px;
    margin-top: -303px;
    height: 300px;
    width: 370px;
    background-color: aqua;
}

.select-form3{
    margin-left: -2px;
}

.select2-form3{
    margin-left: 28px;
}

.select3-form3{
    margin-left: 87px;
}

.button-form{
    margin-top: 30px;
    margin-left: -48px;
    height: 80px;
    width: 1155px;
    margin-right: 2px;
}

.input-form{
    margin-left: -3px;
    margin-top: 25px;
    font-size: 11px;
}